<content class="show-start">
	<div class="view-start">
		<div class="global"></div>
		<div class="title">
			<span>HexGL</span>
			<span>by BKcode</span>
		</div>
		<div class="ship"></div>
		<div class="best-score">
			<div class="best-race">
				Best Race
				<span>&#160;</span>
			</div>
			<div class="best-lap">
				Best Lap
				<span>&#160;</span>
			</div>
		</div>
		<div class="menu">
			<div class="start disabled" data-click="show-pre-game">Start</div>
			<div class="music" data-click="toggle-music">Music: <span>Off</span></div>
			<div class="fx" data-click="toggle-fx">Sound FX: <span>On</span></div>
			<div class="credits" data-click="show-credits">Credits</div>
		</div>
	</div>

	<div class="view-credits" data-click="show-start">
		<h3>Code</h3>
		<div>
			<h2>Concept and Development</h3>
			Thibaut Despoulain (BKcore)
		</div>
		<div>
			<h2>Contributors</h3>
			townxelliot<br/>
			mahesh.kk
		</div>
		<div>
			<h2>Technologies</h3>
			WebGL<br/>
			JavaScript<br/>
			Three.js
		</div>

		<h3>Graphics</h3>
		<div>
			<h2>HexMKI base model</h3>
			Charnel
		</div>
		<div>
			<h2>Track texture</h3>
			Nobiax
		</div>
		<div class="click-to-continue">Click to continue</div>
	</div>

	<div class="view-pre-game" data-click="show-game">
		<div class="instructions">
			<div class="row">
				<div>
					<span class="key icon-arrow-up"></span>
				</div>
				<h2>Accelerate</h2>
			</div>
			<div class="row">
				<div>
					<span class="key icon-arrow-right"></span>
					<span class="key icon-arrow-left"></span>
				</div>
				<h2>Turn</h2>
			</div>
			<div class="row">
				<div>
					<span class="key">A</span>
					<span class="key">D</span>
				</div>
				<h2>Air Brakes</h2>
			</div>
			<div class="row push">
				<div><span class="key">P</span></div>
				<h2>Pause</h2>
			</div>
			<div class="row">
				<div><span class="key esc">ESC</span></div>
				<h2>Reset</h2>
			</div>
		</div>
		<div class="click-to-continue">Click to continue</div>
	</div>

	<div class="view-game">
		<div class="main"></div>
		<div class="overlay">
			<canvas></canvas>
		</div>
		<div class="pause">
			<div class="distort"></div>
			<h2>Paused</h2>
		</div>
	</div>

	<div class="view-game-over" data-click="show-start">
		<div class="game-over">Game Over</div>
		<div class="game-time">&#160;</div>
		<div class="click-to-continue">Click to continue</div>
	</div>

	<div class="view-finish" data-click="show-start">
		<div class="finish">Finish</div>
		<div class="race-time">
			Race Time
			<span>&#160;</span>
		</div>
		<div class="lap-time">
			Best Lap
			<span>&#160;</span>
		</div>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
		<div class="click-to-continue">Click to continue</div>
	</div>
</content>
