<content class="show-pre-game">
	<div class="view-start">
		<div class="global"></div>
		<div class="title"></div>
		<div class="menu">
			<div class="start">Start</div>
			<!-- <div class="control-type">Controls: Keyboard</div> -->
			<div class="quality">Quality: Very Hight</div> <!-- Low, Mid, High, Very High --> 
			<!-- <div class="hud">Hud: On</div> -->
			<div class="god-mode">Godmode: OFF</div>
			<div class="credits">Credits</div>
		</div>
	</div>

	<div class="view-credits">

	</div>

	<div class="view-pre-game">
		<div class="instructions">
			<div class="row">
				<div>
					<span class="key icon-arrow-left"></span>
					<span class="key icon-arrow-right"></span>
				</div>
				<h2>Turn</h2>
			</div>
			<div class="row">
				<div>
					<span class="key icon-arrow-up"></span>
				</div>
				<h2>Accelerate</h2>
			</div>
			<div class="row">
				<div>
					<span class="key">A</span>
					<span class="key">D</span>
				</div>
				<h2>Air Brakes</h2>
			</div>
		</div>
		<div class="click-to-continue">Click to continue</div>
	</div>

	<div class="view-game">

	</div>

	<div class="view-game-over">

	</div>
</content>
