<content class="show-game">
	<div class="view-start">
		<div class="global"></div>
		<div class="title"></div>
		<div class="menu">
			<div class="start">Start</div>
			<!-- <div class="control-type">Controls: Keyboard</div> -->
			<div class="quality">Quality: Very Hight</div> <!-- Low, Mid, High, Very High --> 
			<!-- <div class="hud">Hud: On</div> -->
			<div class="god-mode">Godmode: OFF</div>
			<div class="credits">Credits</div>
		</div>
	</div>

	<div class="view-credits">
		<h3>Code</h3>
		<div>
			<h2>Concept and Development</h3>
			Thibaut Despoulain (BKcore)
		</div>
		<div>
			<h2>Contributors</h3>
			townxelliot<br/>
			mahesh.kk
		</div>
		<div>
			<h2>Technologies</h3>
			WebGL<br/>
			JavaScript<br/>
			Three.js
		</div>

		<h3>Graphics</h3>
		<div>
			<h2>HexMKI base model</h3>
			Charnel
		</div>
		<div>
			<h2>Track texture</h3>
			Nobiax
		</div>
		<div class="click-to-continue">Click to continue</div>
	</div>

	<div class="view-pre-game">
		<div class="instructions">
			<div class="row">
				<div>
					<span class="key icon-arrow-right"></span>
					<span class="key icon-arrow-left"></span>
				</div>
				<h2>Turn</h2>
			</div>
			<div class="row">
				<div>
					<span class="key icon-arrow-up"></span>
				</div>
				<h2>Accelerate</h2>
			</div>
			<div class="row">
				<div>
					<span class="key">A</span>
					<span class="key">D</span>
				</div>
				<h2>Air Brakes</h2>
			</div>
		</div>
		<div class="click-to-continue">Click to continue</div>
	</div>

	<div class="view-game">
		<canvas class="overlay"></canvas>
		<canvas class="main"></canvas>
	</div>

	<div class="view-game-over">
		<div class="game-over">Game Over</div>
		<div class="click-to-continue">Click to continue</div>
	</div>
</content>
