
content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: BebasNeueRegular, Arial, sans-serif;
	font-size: 27px;
	font-weight: 100;
	text-align: center;

	&.show-start > div.view-start {
		display: block;
	}

	&.show-credits > div.view-credits {
		display: block;
	}

	&.show-pre-game > div.view-pre-game {
		display: block;
	}

	&.show-game > div.view-game {
		display: block;
	}

	&.show-game-over > div.view-game-over {
		display: block;
	}

	> div[class*="view-"],
	> div[class^="view-"] {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.click-to-continue {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5%;
		font-size: 37px;
		color: #aaa;
		cursor: pointer;
	}

	.view-start {
		.global {
			position: absolute;
			top: -11px;
			bottom: -11px;
			right: 0;
			left: 0;
			z-index: 1;
			background: url(~/img/bg.jpg) no-repeat 50% 50% fixed;
			background-size: 105% auto;
			animation: animbg 3s 150ms ease-in-out infinite;
		}

		.ship {
			position: absolute;
			top: 43px;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			background: url(~/img/feisar.png) no-repeat 50% 0%;
			filter: drop-shadow(0 0 17px #fff);
			background-size: 67% auto;
			animation: anim 3s ease-in-out infinite;
		}

		.title {
			position: absolute;
			top: 17px;
			left: 23px;
			font-family: Roboto, sans-serif;
			font-size: 67px;
			font-weight: 700;
			font-style: italic;
			text-align: right;
			line-height: .925;
			filter: drop-shadow(0 0 7px #fff);
			z-index: 3;
			// top: 270px;
			// left: 312px;
			// transform: rotate(-24deg);
			// font-size: 56px;

			span {
				background-image: -webkit-linear-gradient(90deg, #f9884d, #f44729);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #66666670;
				display: inline-block;
				padding-right: 11px;

				&:nth-child(2) {
					display: block;
					font-size: 31px;
					background-image: -webkit-linear-gradient(90deg, #58b4d2, #3784b1);
					// padding-right: 17px;
					// font-size: 29px;
				}
			}
		}

		.best-score {
			position: absolute;
			top: 3%;
			right: 2%;
			z-index: 3;
			text-align: left;
			font-size: 27px;
			color: #69c;
			text-shadow: 0 0 11px #ffffffbb;

			> div {
				display: flex;
				width: 190px;
				margin-bottom: 3px;

				span {
					flex: 1;
					text-align: right;
				}
			}
		}

		.menu {
			position: absolute;
			top: auto;
			right: 0;
			left: 0;
			bottom: 3%;
			z-index: 3;
			font-size: 27px;
			color: #4190bb;

			> div {
				width: 420px;
				height: 37px;
				padding-top: 7px;
				margin: 0 auto 7px;
				text-shadow: 0 0 11px #fff;
				background: -webkit-gradient( linear, left top, right top,
					color-stop(0%,rgba(255,255,255,0)),
					color-stop(40%,rgba(255,255,255,0.5)),
					color-stop(60%,rgba(255,255,255,0.5)),
					color-stop(100%,rgba(255,255,255,0))
				);
				cursor: pointer;
				transition: all 120ms ease-in-out;

				&.start {
					color: #f66439;
					font-size: 37px;
					height: 45px;
					
					&:hover {
						font-size: 43px;
					}
				}

				&:hover {
					color: #f8854b;
					transform: scaleY(1.1);
					font-size: 29px;
				}
			}
		}
	}

	.view-credits {
		background: #000;
		color: #fff;
		padding-top: 13px;
		font-size: 22px;

		h2 {
			color: #f90;
			margin-top: 5px;
			font-size: 30px;
		}

		h3 {
			color: #bbb;
			margin: 29px 0 7px;
			font-size: 24px;
		}
	}

	.view-pre-game {
		background: #000;
		color: #fff;

		.instructions {
			position: absolute;
			top: 31%;
			left: 0;
			right: 0;

			.row {
				// background: rgba(255,255,255,.1);
				margin: 5px auto;
				width: 320px;
				display: flex;

				> div {
					width: 130px;
					text-align: right;
				}

				h2 {
					flex: 1;
					padding: 6px 0 0 7px;
					text-align: left;
					font-size: 47px;
				}
			}
		}

		.key {
			background: #fff;
			color: #000;
			display: inline-block;
			width: 51px;
			height: 51px;
			border-radius: 9px;
			text-align: center;
			padding-top: 5px;
			font-size: 48px;
			margin: 0 7px 0 0;
			background-position: 7px 7px;
			background-size: 43px 43px;
			background-repeat: no-repeat;

			&.icon-arrow-left  { background-image: url(~/icons/icon-arrow-left.png); }
			&.icon-arrow-right { background-image: url(~/icons/icon-arrow-right.png); }
			&.icon-arrow-up    { background-image: url(~/icons/icon-arrow-up.png); }
		}
	}

	.view-game {
		> div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	.view-game-over {
		background: #000;
		color: #fff;

		.game-over {
			padding-top: 17%;
			font-size: 91px;
		}

		.game-time {
			font-size: 53px;
			padding-top: 31px;
			color: #f90;
		}
	}
}


@keyframes anim {
	0%   { transform: translateY(7px) }
	50%  { transform: translateY(-7px) }
	100% { transform: translateY(7px) }
}

@keyframes animbg {
	0%   { transform: translateY(3px) }
	50%  { transform: translateY(-3px) }
	100% { transform: translateY(3px) }
}


// custom fonts
@font-face {
	font-family: "BebasNeueRegular";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/BebasNeue-webfont.woff) format("woff2");
}

